<h1>List of all items</h1>

	<div>
		<% @items.each do |item| %>
			-<%= link_to(item.description, item_path(item)) %><br />
		<% end %>
	</div>
	<div>
		<footer>
			---<%= link_to("Sell An Item", add_item_path) %>
		</footer>
	</div>